@import '../../../scss/utils';

.player {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  transition: left 0.2s, top 0.2s;

  pointer-events: none;

  &.e1 {
    background-color: $enemy1-main-color;
    border: 1px solid $enemy1-secondary-color;
  }

  &.e2 {
    background-color: $enemy2-main-color;
    border: 1px solid $enemy2-secondary-color;
  }

  @for $i from 1 through length($playerColors) {
    &.#{$i} {
      background-color: rgba(nth($playerColors, $i), 1);
      border: 1px solid rgba(nth($playerSecondaryColors, $i), 1);

      &.pulsatingShadow {
        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 (rgba(nth($playerColors, $i), 0.7));
          }
          70% {
            box-shadow: 0 0 0 8px (rgba(nth($playerColors, $i), 0));
          }
          100% {
            box-shadow: 0 0 0 0 (rgba(nth($playerColors, $i), 0));
          }
        }

        animation: pulse 2.4s infinite;
      }
    }
  }
}

.enemyPlayerWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: left 0.2s, top 0.2s;

  .triangle {
    position: absolute;
    z-index: 1;

    width: 0;
    height: 0;

    $triangle-width: 4px;
    $triangle-height: $triangle-width * 2 * 0.866;

    &.up {
      margin-top: -30px;
      border-left: $triangle-width solid transparent;
      border-right: $triangle-width solid transparent;

      &.e1 {
        border-bottom: $triangle-height solid $enemy1-secondary-color;
      }
      &.e2 {
        border-bottom: $triangle-height solid $enemy2-main-color;
      }
    }

    &.down {
      margin-bottom: -30px;
      border-left: $triangle-width solid transparent;
      border-right: $triangle-width solid transparent;

      &.e1 {
        border-top: $triangle-height solid $enemy1-secondary-color;
      }
      &.e2 {
        border-top: $triangle-height solid $enemy2-main-color;
      }
    }

    &.right {
      margin-right: -32px;
      border-top: $triangle-width solid transparent;
      border-bottom: $triangle-width solid transparent;

      &.e1 {
        border-left: $triangle-height solid $enemy1-secondary-color;
      }
      &.e2 {
        border-left: $triangle-height solid $enemy2-main-color;
      }
    }

    &.left {
      margin-left: -30px;
      border-top: $triangle-width solid transparent;
      border-bottom: $triangle-width solid transparent;

      &.e1 {
        border-right: $triangle-height solid $enemy1-secondary-color;
      }
      &.e2 {
        border-right: $triangle-height solid $enemy2-main-color;
      }
    }
  }
}
