@import '../../scss/utils';

.gamesWrapper {
  padding: 100px;
  margin: auto;

  display: grid;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 12px;

  > :nth-child(2) {
    grid-column: 2;
  }

  > :nth-child(3) {
    grid-column: 3;
  }

  &.start {
    align-self: flex-start;
  }
}
