@import '../../scss/utils';

.playerListWrapper {
  min-width: 200px;
  padding: 24px;
  border-radius: 4px;
  background-color: rgba($position-background-color, 0.6);
  display: grid;
  place-items: center;
  color: $white;

  > h1 {
    margin: 0 0 12px 0;
  }
}

.playersWrapper {
  > p {
    margin: 0;
  }
}

.player-e1 {
  color: $enemy1-main-color;
}

@for $i from 1 through length($playerColors) {
  .player-#{$i} {
    color: rgba(nth($playerColors, $i), 1);
  }
}
