@import '../../../scss/utils';

.locks,
.locksImg {
  @include bg-image-layout;
}

.toggleWrapper {
  @include bg-image-layout;

  .itemWrapper {
    display: flex;
    align-items: center;
    max-width: 130px;
    padding: 6px;
    cursor: pointer;

    img {
      width: 16px;
      max-height: 16px;
      margin-right: 8px;
    }

    p {
      font-size: 12px;
      margin: 0;
    }
  }
}
