@import '../../scss/utils';

.messageWrapper {
  grid-area: progressLog;
  height: 50vh;
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.progressLogWrapper {
  background-color: $progress-log-background-color;
  border: 24px solid $progress-log-background-color;
  border-width: 24px 42px;
  box-sizing: border-box;
  flex-grow: 1;

  color: $white;
  font-size: 14px;
  overflow-y: scroll;
  word-wrap: break-word;

  display: flex;
  flex-direction: column-reverse;

  p {
    margin: 2px 0;

    span {
      &.e1 {
        color: $enemy1-light-color;
      }

      &.e2 {
        color: $enemy2-light-color;
      }

      @for $i from 1 through length($playerColors) {
        &.#{$i} {
          color: rgba(nth($playerColors, $i), 1);
        }
      }
    }
  }
}

.inputWrapper {
  background-color: $user-actions-background-color;
  padding: 24px 42px;

  > input {
    width: 100%;
    padding: 4px 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    outline: none;
    line-height: 1.6;
    font-size: 14px;
    font-family: $standard-font;
  }
}
