@import '../../scss/utils';

.progressLogWrapper {
  grid-area: progressLog;

  background-color: $progress-log-background-color;
  border: 24px solid $progress-log-background-color;
  border-width: 24px 42px;
  box-sizing: border-box;

  color: $white;
  font-size: 14px;
  height: 50vh;
  overflow-y: scroll;

  display: flex;
  flex-direction: column-reverse;

  p {
    margin: 2px 0;
  }
}
