@import '../../scss/utils';

.boardWrapper {
  grid-area: board;

  @include bg-image-layout;
  background-image: url(../../assets/Board.svg);
  position: relative;
}

.home {
  @include bg-image-layout;
}
