@import '../../scss/utils';

@mixin bg-image-layout {
  height: 100vh;
  width: 100vh * $board-resolution;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.boardWrapper {
  grid-area: board;

  @include bg-image-layout;
  background-image: url(../../assets/Board.svg);
  position: relative;
}

.home {
  @include bg-image-layout;
}

.locks {
  @include bg-image-layout;

  &.locked {
    background-image: url(../../assets/Locked.svg);
  }

  &.unlocked {
    background-image: url(../../assets/Unlocked.svg);
  }
}

.enemy1Path {
  @include bg-image-layout;
  path {
    stroke: $enemy1-main-color;
  }
}

.enemy2Path {
  @include bg-image-layout;
  path {
    stroke: $enemy2-main-color;
  }
}

.path {
  @include bg-image-layout;
}
