
.player-e1, .e1 {
    background-color: rgb(97, 80, 80);
    color: white;
}

.player-e2, .e2 {
    background-color: rgb(40, 104, 104);
    color: white;
}

.key {
    background-color: orange;
}

.goal {
    background-color: red;
}

.home {
    background-color: yellow;
}

.sound-token {
    width: 30px;
    height: 30px;
    background-color: violet;
}

.sight-token {
    width: 30px;
    height: 30px;
    background-color: coral;
}