@import '../../../scss/utils';

.loadingWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $main-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
