@import '../../../utils';

.button {
  font-family: $standard-font;
  width: 100px;
  height: 28px;
  border: none;
  border-radius: 2px;
  margin: 8px;
  color: $button-font-color;
  background-color: $primary-button-color;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.9;

  &:hover:enabled {
    opacity: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.active {
    background-color: $active-button-color;
  }

  &.confirm {
    background-color: $confirm-button-color;
  }

  &.back {
    background-color: $back-button-color;
  }

  &:disabled {
    opacity: 0.5;
    box-shadow: none;
  }
}
