@import '../../../utils';

.button {
  font-family: $standard-font;
  width: 100px;
  height: 28px;
  border: none;
  border-radius: 2px;
  margin: 8px;
  color: $button-font-color;
  background-color: $primary-button-color;

  &.active {
    background-color: $active-button-color;
  }
}
