@import '../../../utils';

.userActionsWrapper {
  grid-area: userActions;

  background-color: $user-actions-background-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: $white;
}
