$board-resolution: (856/900);

$board-background-color: #3da4ab;
$user-actions-background-color: #330f2b;
$progress-log-background-color: #320325;

$primary-button-color: #106368;
$active-button-color: #10683e;
$confirm-button-color: #377d15;
$back-button-color: #902626;

$enemy1-color: #660000;
$enemy2-color: #041d5b;

$button-font-color: #efefef;

$position-background-color: #1d4a4d;
$position-border-color: #79ccd1;

$white: #efefef;

$standard-font: 'Montserrat', sans-serif;
