$board-background-color: #3da4ab;
$user-actions-background-color: #330f2b;
$progress-log-background-color: #320325;

$primary-button-color: #106368;
$active-button-color: #10683e;
$button-font-color: #efefef;

$white: #efefef;

$standard-font: 'Montserrat', sans-serif;
