$board-resolution: (856/900);

$board-background-color: #3da4ab;
$user-actions-background-color: #330f2b;
$progress-log-background-color: #320325;

$primary-button-color: #106368;
$active-button-color: #10683e;
$confirm-button-color: #377d15;
$back-button-color: #902626;

$enemy1-main-color: #660000;
$enemy1-secondary-color: #450a0a;
$enemy2-main-color: #041d5b;
$enemy2-secondary-color: #3c409d;

$player0-main-color: #d88d49;
$player0-secondary-color: #bd691b;
$player1-main-color: #78b826;
$player1-secondary-color: #16701f;
$player2-main-color: #d2d60c;
$player2-secondary-color: #90930a;
$player3-main-color: #8761b8;
$player3-secondary-color: #7553a1;
$player4-main-color: #c2c2c2;
$player4-secondary-color: #8a8a8a;
$player5-main-color: #d06363;
$player5-secondary-color: #b64848;

$button-font-color: #efefef;

$position-background-color: #1d4a4d;
$position-border-color: #79ccd1;

$white: #efefef;

$standard-font: 'Montserrat', sans-serif;
