@import './scss/utils';

body {
  margin: 0;
  font-family: $standard-font;
  max-height: 90vh;
  background-color: $main-background-color;
}

.main-wrapper {
  display: grid;
  grid: 20% 40% 40% / 1fr 1fr;
  grid-template-areas:
    'board progressBars'
    'board userActions'
    'board progressLog';

  &.start-view {
    grid: 1fr / 1fr;
  }
}
