@import './scss/utils';

body {
  margin: 0;
  font-family: $standard-font;
  max-height: 90vh;
  background-color: $main-background-color;
}

.main-wrapper {
  display: grid;
  grid: 1fr 2fr 3fr / 1fr 1fr;
  grid-template-areas:
    'board progressBars'
    'board userActions'
    'board progressLog';
}
