$board-resolution: (856/900);

$white: #efefef;

$main-background-color: #3da4ab;
$secondary-blue: #1d4a4d;
$user-actions-background-color: #330f2b;
$progress-log-background-color: #320325;

$primary-button-color: #106368;
$active-button-color: #10683e;
$confirm-button-color: #377d15;
$back-button-color: #902626;

$enemy1-main-color: #660000;
$enemy1-secondary-color: #450a0a;
$enemy2-main-color: #041d5b;
$enemy2-secondary-color: #3c409d;

$playerColors: #d88d49, #78b826, #d2d60c, #8761b8, #c2c2c2, #d06363;
$playerSecondaryColors: #bd691b, #16701f, #90930a, #7553a1, #8a8a8a, #b64848;

$button-font-color: $white;

$position-background-color: #1d4a4d;
$position-border-color: #79ccd1;

$standard-font: 'Montserrat', sans-serif;

$pathColors: (
  'pink': #cd6eb3,
  'purple': #711a63,
  'blue': #285b8a,
  'green': #009f49,
  'mustard': #c6a709,
  'red': #ab2727,
  'lightPurple': #b6bcf5,
  'teal': #087b8a,
  'pea': #67e03d,
  'moss': #66620e,
  'bluePurple': #681eb1,
  'orange': #b56a25,
  'yellow': #f0f28a,
  'lightRed': #bf6565,
);

@mixin bg-image-layout {
  height: 100vh;
  width: 100vh * $board-resolution;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
