@import './utils';

.button {
  font-family: $standard-font;
  padding: 8px 16px;
  min-width: 100px;
  border: none;
  border-radius: 2px;
  margin: 8px;
  color: $button-font-color;
  background-color: $primary-button-color;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
  font-size: 14px;
  cursor: pointer;

  &:hover:enabled {
    opacity: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.big {
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 16px;
  }

  &.active {
    background-color: $active-button-color;
  }

  &.confirm {
    background-color: $confirm-button-color;
  }

  &.back {
    background-color: $back-button-color;
  }

  &.enemy1 {
    background-color: $enemy1-main-color;
  }

  &.enemy2 {
    background-color: $enemy2-main-color;
  }

  &:disabled {
    opacity: 0.5;
    box-shadow: none;
  }

  @each $pathColor, $i in $pathColors {
    &.#{$pathColor} {
      background-color: $i;
      color: set-button-color($i);
    }
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
