@import '../../../scss/utils';

.position {
  width: 8px;
  height: 8px;

  background-color: $position-background-color;
  border: 2px solid $position-border-color;
  border-radius: 100%;

  position: absolute;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &.multipleChildren {
    div:nth-of-type(2n) svg {
      padding: 0 0 16px 16px;
    }

    div:nth-of-type(3) svg {
      padding: 16px 16px 0 0;
    }

    div:nth-of-type(4) svg {
      padding: 0 16px 16px 0;
    }

    div:nth-of-type(5) svg {
      padding: 16px 0 0 16px;
    }
  }
}

.enemy1-end-of-path,
.reachable-e1 {
  background-color: $enemy1-main-color;
}

.enemy2-end-of-path,
.reachable-e2 {
  background-color: $enemy2-main-color;
}

@for $i from 1 through length($playerColors) {
  .reachable-#{$i} {
    background-color: rgba(nth($playerColors, $i), 1);
  }
}

.clickable {
  cursor: pointer;
}
